/* General styles */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Header styles */
header {
  background-color: #FE052C;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header h1 {
  color: #FFF;
  padding: 10px 2%;
  margin: 0;
  width: 16%;
  float: left;
  padding-left: 0;
}

/* Header navigation bar */
header nav {
  padding: 10px 2%;
  width: 76%;
  float: right;
  text-align: right;
  line-height: 30px;
  margin-top: 0;
  position: relative;
  vertical-align: middle;
}

/* Search bar */
header #search {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 30px;
  top: 10px;
}

header #search a {
  display: block;
  width: 100%;
  padding: 30px;
}

header #search a:hover {
  background: #FE052C;
}

header #search img {
  width: 100%;
  display: block;
}

header #search input {
  position: absolute;
  right: 20px;
  top: 30px;    
  padding: 8px 10px;
  width: 300px;
  /* transition: 0.2s all; */
  /* visibility: hidden; */
}

/* header #search.active input {
  width: 200px;
  padding: 8px 10px;
  visibility: visible;
} */

header #search.active a {
  background: #CC0020;
}

header nav a {
  display:block;
	padding:0 10px;
	color:#FFF;
	font-size:16px;
	line-height: 40px;
	text-decoration:none;
  transition: 0.2s all;
}

header #back a{
  padding-top: 30px;
  font-size:26px;
}

header #back img {
  width: 5%;
  /* display: block; */
}

/* header nav a:hover {
  background-color: #fff;
  color: #CC0020;
} */

/* nav ul {
	padding:0;
	margin:0;
  margin-right: 30px;
	list-style: none;
	position: relative;
	} */

/* nav ul li {
	display:inline-block;
	background-color: #CC0020;
  position: relative;
}

nav ul ul {
	display: none;
	position: absolute;
	top: 40px;
  right: -30px;
} */

/* Display Dropdowns on Hover
nav ul li:hover > ul {
	display:inherit;
} */

/* First Tier Dropdown
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
} */

/* Main Section */
#main {
  margin-top: 130px;
}

/* Individual Article Styling */
.article {
  border-bottom: 1px solid #ccc;
  transition: 0.2s all;
}

.article:hover {
  padding: 0 2%;
  background-color: #eee;
}

.article .featuredImage {
  width: 12%;
  float: left;
  margin: 1.5%;
  max-width: 60px;
}

.article .featuredImage img {
  max-width: 100%;
  border-radius: 50px;
}

.article .articleContent {
  width: 70%;
  float: left;
}

.article .articleContent a {
  text-decoration: none;
}

.article .articleContent h3 {
  margin-bottom: 0;
  color: #FE052C;
}

.article .articleContent h6 {
  margin-top: 0;
  color: #666;
}

.article .impressions {
  width: 15%;
  float: right;
  font-size: 30px;
  margin-top: 15px;
  text-align: right;
  color: #097FB2;
}

/* Individual Biography Styling */
.biography {
    padding-top: 50px;
    border-bottom: 2px solid black;
    transition: 0.2s all;
    background-color:red;
  }
  
  /* .biography:hover {
    padding: 0 2%;
    background-color: #eee;
  } */
  
  .biography .featuredImage {
    width: 50%;
    float: left;
    margin: 1.5%;
    max-width: 200px;
  }
  
  .biography .featuredImage img {
    max-width: 100%;
    border-radius: 50px;
  }
  
  /* .biography .biographyContent {
    width: 70%;
    float: left;
  }
  
  .biography .biographyContent a {
    text-decoration: none;
  }
  
  .biography .biographyContent h3 {
    margin-bottom: 0;
    color: #FE052C;
  }
  
  .biography .biographyContent h6 {
    margin-top: 0;
    color: #666;
  } */
  
  .biography .bio {
    /* width: 15%; */
    float: right;
    /* font-size: 30px; */
    margin-top: 15px;
    text-align: right;
    /* color: #097FB2; */
  }
  
  .apology {
      margin-top: 250px;
      float: center;
  }